{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- PicoCSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>API Localidades</title>

    <style>
        td {
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-slate-50">
  <div
    class="container mx-auto px-4 py-4 bg-slate-300"
    x-data="getData"
  >
    <label
      for="countries"
      class="block text-center mb-2 text-sm font-medium text-gray-900 dark:text-white mb-6"
    >Região > Estado > Cidade</label>

    <div class="grid">
      <!-- Região -->
      <div>
        <table>
          <thead>
            <tr>
              <th>Região</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="regiao in regioes">
              <tr>
                <td
                  x-text="regiao.nome"
                  @click="getEstados(regiao.id)"
                ></td>
              </tr>
              <option
                :value="regiao.id"
                x-text="regiao.nome"
              ></option>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Estado -->
      <div>
        <table>
          <thead>
            <tr>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="estado in estados">
              <tr>
                <td
                  x-text="estado.nome"
                  @click="getCidades(estado.id)"
                ></td>
              </tr>
              <option
                :value="estado.id"
                x-text="estado.nome"
              ></option>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Cidade -->
      <div>
        <table>
          <thead>
            <tr>
              <th>Cidade</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="cidade in cidades">
              <tr>
                <td x-text="cidade.nome"></td>
              </tr>
              <option
                :value="cidade.id"
                x-text="cidade.nome"
              ></option>
            </template>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  <script src="{% static 'js/consumer2.js' %}"></script>
</body>

</html>