{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- PicoCSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>API Localidades</title>

    <style>
        td {
            cursor: pointer;
        }
        #cidade {
          height: 41rem;
          overflow: auto;
        }
    </style>
</head>

<body class="bg-slate-50">
  <div
    class="container mx-auto px-4 py-4 bg-slate-300"
    x-data="getData"
  >
    <h1>Região > Estado > Cidade</h1>

    <p>Clique em cada uma das tabelas para aplicar o filtro.</p>

    <button @click="getReset()">Limpar</button>

    <div class="grid">
      <!-- Região -->
      <div>
        <table>
          <thead>
            <tr>
              <th x-text="'Região '+regioes.length"></th>
            </tr>
          </thead>
          <tbody>
            <template x-for="regiao in regioes">
              <tr>
                <td
                  x-text="regiao.nome"
                  @click="getEstados(regiao.id)"
                ></td>
              </tr>
              <option
                :value="regiao.id"
                x-text="regiao.nome"
              ></option>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Estado -->
      <div>
        <table>
          <thead>
            <tr>
              <th x-text="'Estado '+estados.length"></th>
            </tr>
          </thead>
          <tbody>
            <template x-for="estado in estados">
              <tr>
                <td
                  x-text="estado.nome"
                  @click="getCidades(estado.id)"
                ></td>
              </tr>
              <option
                :value="estado.id"
                x-text="estado.nome"
              ></option>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Cidade -->
      <div id="cidade">
        <table>
          <thead>
            <tr>
              <th x-text="'Cidade '+cidades.length"></th>
            </tr>
          </thead>
          <tbody>
            <template x-for="cidade in cidades">
              <tr>
                <td
                  x-text="cidade.nome"
                  @click="getEstadoPorCidade(cidade.id)"
                ></td>
              </tr>
              <option
                :value="cidade.id"
                x-text="cidade.nome"
              ></option>
            </template>
          </tbody>
        </table>
      </div>

    </div>

  </div>
  <script src="{% static 'js/consumer2.js' %}"></script>
</body>

</html>